* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
    border: 3px solid red;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    border: 3px solid orange;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.categories {
    border: 3px solid orange;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.icon {
    border: 3px solid green;
    padding: 10px;
    margin: 10px;
    flex: 2;
}

.information {
    border: 3px solid green;
    padding: 10px;
    margin: 10px;
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.category {
    border: 3px solid green;
    padding: 10px;
    margin: 10px;
}

.title {
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.followers {
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.followers-section {
    margin-right: 10px;
}

.description {
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

.followed-by {
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
} 

.title-text {
    padding: 3px;
    margin: 3px;
    font-size: 24px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-check {
    padding: 3px;
    margin: 3px;
}   

.title-button {
    border: 1px solid lightgray;
    padding: 6px;
    margin: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.title-more {
    padding: 3px;
    margin: 3px;
    font-size: 24px;
}   

.link {
    font-weight: bold;
    text-decoration: none;
}